<div id="BatteryCanvas">
    <canvas id="pvChart" width="400" height="90"></canvas>
    <script>
    const pvCtx = document.getElementById('pvChart').getContext('2d');
    const pvCtxChart = new Chart(pvCtx, {
        type: 'bar',
        data: {
            labels:['PV Voltage', 'PV Current'] ,
            datasets: [{
                label: [''],
                data: [{{pv1_voltage}}, {{pv1_current}}],
                fill:true,
                backgroundColor: [
                    'rgba(255, 159, 64, 1)',
                    'rgba(24, 359, 64, 1)'

                ],
                borderColor: [
                    'rgba(255, 159, 64, 1)'
                ],
            },

            ]
        },
        options: {
         plugins: {
                legend: {
                  display: false
                }
          },
           indexAxis: 'y',
                    scales: {
                          y: {  // not 'yAxes: [{' anymore (not an array anymore)
                            ticks: {
                              color: "white", // not 'fontColor:' anymore
                              // fontSize: 18,
                              font: {
                                size: 18, // 'size' now within object 'font {}'
                              },
                              stepSize: 1,
                              beginAtZero: true
                            }
                          },
                        }

            }

    });
    </script>
</div>